.link-promotion {
    display: inline-block;
    text-align: start;
    width: 100%;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.link-promotion:hover {
    color: blue;
}
span {
    display: block;
    text-align: start;
}