.et-car-block {
    width: 50px !important;
    height: 35px;
    min-height: 1px;
    cursor: pointer;
    display: inline-block;
    float: none;
}
.et-car-icon-selected {
    background-color: #a6b727;
}
.et-car-icon-avaiable {
    background-color: #80b5d6;
}
.et-car-icon-selected {
    background-color: #a6b727;
}
.et-car-icon {
    margin: 0 1px 10px;
    border-radius: 15%;
    height: 25px;
    overflow: visible;
}
.et-car-icon .train-car {
    width: 100%;
    height: 130%;
}

.et-car-floor {
    border-radius: 10px;
    border: 3px solid #385d8a;
    margin: 0;
    padding: 5px 10px;
    height: auto;
}

.et-col-1-18 {
    width: 5.55555556%;
    float: left;
    min-height: 1px;
}
.et-car-floor-full-height {
    height: 158px;
}
.et-bed-way {
    height: 40px;
    line-height: 40px;
}
.small {
    font-size: 70%;
}
.et-full-width {
    width: 100%;
}
.et-col-8-9 {
    width: 88.88888889%;
    float: left;
    min-height: 1px;
}
.et-text-sm {
    font-size: 8px;
}
.et-col-1-8 {
    width: 12.5%;
    float: left;
    min-height: 1px;
}
.et-seat-h-35 {
    height: 35px;
    line-height: 30px;
}
.et-col-1-16 {
    width: 6.25%;
    float: left;
    min-height: 1px;
}

.et-bed-left {
    border-left: 3px solid #385d8a;
    height: 45px;
}
.et-bed-right {
    border-right: 3px solid #385d8a;
    height: 45px;
}

.et-bed-left .et-bed-router {
    padding-right: 2px;
    padding-top: 28px;
    padding-bottom: 10px;
    height: 100%;
}

.et-bed-right .et-bed-router {
    padding-left: 2px;
    padding-top: 28px;
    padding-bottom: 10px;
    height: 100%;
}
.et-bed-illu {
    border-bottom: 3px solid #385d8a;
    border-left: 3px solid #385d8a;
    border-right: 3px solid #385d8a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 10px;
    line-height: 30px;
}
.seat {
    padding: 0px;
    width: 35px;
    height: 30px;
    position: relative;
    top: -25px; /* Dịch lên */
    white-space: nowrap;
    text-align: center;
  }


  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%; /* Tooltip sẽ hiển thị trên */
    left: 50%;
    margin-left: -60px; /* Căn giữa tooltip */
    font-size: 12px;
    white-space: nowrap;
    visibility: visible; /* Đảm bảo tooltip luôn hiển thị */
    opacity: 1; /* Đảm bảo tooltip luôn có độ hiển thị */
    pointer-events: none; /* Đảm bảo không cản trở việc hover vào các phần tử khác */
  }
  

  .seat-empty {
    width: 45px;
    height: 45px;
    margin: 2px;
    visibility: hidden;
  }

  .seat.selected {
    background-color: orange;
    color: white;
    font-weight: bold;
  }
 /* Ngoi mem */
.et-car-door {
    width: 1%;
    float: left;
    border-radius: 10px;
    height: 158px;
}

.et-car-nm-64-half-block {
    width: 47%;
    float: left;
    min-height: 1px;
}

.et-full-width-seat {
    width: 90%;  
}

/* Container cho mỗi hàng ghế */
.et-car-nm-64-sit {
    width: 100%;
    display: flex;
    min-height: 1px;
    height: 35px;
}

.et-seat-h-35 {
    height: 35px;
    line-height: 30px;
}

.et-car-seat, .et-car-seat-left, .et-car-seat-right {
    display: flex;
    height: inherit;
    flex: 1; /* Các ghế chia đều không gian */
}

.et-col-16 {
    width: 16%;
    min-height: 1px;
}

.et-sit-side {
    height: 100%;
    background-color: #948a54;
    border-radius: 2px;
}

.et-col-84 {
    width: 84%;
    min-height: 1px;
}

.et-sit-sur-outer {
    height: 100%;
    padding: 2px 2px 2px 0;
}

.et-sit-bought {
    background-color: #df5327;
    color: #fff;
}

.et-sit-empty {
    background-color: #fff;
}

.et-sit-sur {
    height: 100%;
    border-radius: 5px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    cursor: pointer;
    width: 35px;
}

.et-car-way {
    height: 20px;
    width: 100%;
    clear: both;
}

.et-car-seperator {
    width: 4%;
    float: left;
    height: 158px;
    padding: 0 5px;
}

.et-car-seperator>div:first-child {
    margin-bottom: 32px;
    margin-top: -5px;
}

.et-car-seperator>div {
    height: 69px;
    width: 100%;
    background-color: #888;
    border-radius: 5px;
}